h2.intro {
  color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

p.intro {
  background-color: chocolate;
  font-size: 15
px;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img.intro{
  background-color: black;
  border: blue;
  border-radius: 10%;
  outline: solid;
}